/* PC */
@media(min-width:64em){


}

/* TABLE */
@media(min-width: 46.25em) and (max-width: 63.9375em){
    .modal{
       
    }
.modal-container{
    width: 500px;
    margin: 0px 134px;
    position: absolute;
    top: 0;
    padding-top: 46px;
}
}
/* TABLE & MOBILE */
@media(max-width :  63.9375em) {
   
    #nav .subnav li a{
        padding: 5px 12px;
    }

    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 22px;
    }
    .contact-content .contact-info{
        line-height: 2;
    }
    #footer .socials-list a{
        margin: 0px 10px;
    }
    .coppyright a{
        padding: 12px 0px;
        display: inline-block;
    }

}

/* MOBILE */
@media(max-width : 46.1875em)
{  
 /* // dùng chung */

.s-col-full,.s-full-width{
  width: 100%;
  display: block;
 }
 .s-mt-8{
     margin-top: 8px;
 }

#header{
    overflow: hidden;
}
#header .search-btn{
    display: none;
}
#header .menu-mobile-btn {
    display: block;
}   
#slider .content-text{
    display: none;
}
    #nav {
        display: block;
    }
    #nav li{
        display: block;
        padding: 1px 24px;
    }
    #nav>li:first-child{
        display: inline-block;
    }
    #nav li:hover .subnav{
        display: block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav li a{
        color: #fff;
        padding: 5px 41px;
    }

   
    #content .member-avatar{
        width: 60%;
        
    }
    .contact-form{
        padding-top: 16px;
    }
    .modal-container{
        position: absolute;
        top: 50px;
        max-width: calc(100% - 16px);
    }


}